In [1]:
import pandas as pd
df1 = pd.read_csv(r"C:\Users\LENOVO\Downloads\Task 5\Task 5\years_data.csv")
df1.head()

     DateTime  Max_temp
0  01/01/1951     20.14
1  01/02/1951     21.68
2  01/03/1951     21.28
3  01/04/1951     21.61
4  01/05/1951     21.39

In [2]:
df2 = pd.read_csv(r"C:\Users\LENOVO\Downloads\Task 5\Task 5\tmin_data.csv")
df2.head()

     datetime  dummy
0  01/01/1951   3.68
1  02/01/1951   3.60
2  03/01/1951   3.51
3  04/01/1951   4.09
4  05/01/1951   5.10

In [3]:
# merging the datasets
merged = pd.concat([df1, df2], axis=1)
merged.head()

     DateTime  Max_temp    datetime  dummy
0  01/01/1951     20.14  01/01/1951   3.68
1  01/02/1951     21.68  02/01/1951   3.60
2  01/03/1951     21.28  03/01/1951   3.51
3  01/04/1951     21.61  04/01/1951   4.09
4  01/05/1951     21.39  05/01/1951   5.10

In [4]:
import os
import shutil

In [5]:
# getting current directory path
print(os.getcwd())

C:\Users\LENOVO

In [7]:
# changing diectory at a location
os.chdir(r"C:\Users\LENOVO\Downloads\Task 4")
new_dir=os.getcwd()
new_dir

'C:\\Users\\LENOVO\\Downloads\\Task 4'

In [8]:
# getting details of a directory
os.listdir()

['Task 4']

In [9]:

for files in os.listdir():
    if files.endswith(".jpg"):
        #print (files)
        destination = r'C:\Users\LENOVO\Downloads\Task 4'
        shutil.move(files, destination)

In [10]:
for files in os.listdir():
    if files.endswith(".png"):
        #print (files)
        destination = r'C:\Users\LENOVO\Downloads\Task 4'
        shutil.move(files, destination)

In [12]:
for files in os.listdir():
    if files.endswith(".PNG"):
        #print (files)
        destination = r'C:\Users\LENOVO\Downloads\Task 4'
        shutil.move(files, destination)

In [13]:
word_files = os.path.join(new_dir, r'/word_file')

In [14]:
destination=r'C:\Users\LENOVO\Downloads\Task 4'

In [15]:
# define the access rights
access_rights = 0o755

try:
    os.mkdir(destination, access_rights)
except OSError:
    print ("Creation of the directory %s failed" % destination)
else:
    print ("Successfully created the directory %s" % destination)

Creation of the directory C:\Users\LENOVO\Downloads\Task 4 failed

In [16]:
# moving word files in new dir word
for files in os.listdir():
    if files.endswith(".docx"):
        #print (files)
        destination = r'C:\Users\Lenovo\Desktop\YOSHOPS\TASK 4\word'
        shutil.move(files, destination)

In [19]:
# creating multidirectories
# define the name of the directory to be created
path =r"C:\Users\LENOVO\Downloads\Task 5(4)\Task 5"

try:
    os.makedirs(path)
except OSError:
    print ("Creation of the directory %s failed" % path)
else:
    print ("Successfully created the directory %s" % path)

Creation of the directory C:\Users\LENOVO\Downloads\Task 5(4)\Task 5 failed

In [20]:
# moving ipynb files to python directory

for files in os.listdir():
    if files.endswith(".ipynb"):
        #print (files)
        destination = r'C:\Users\Lenovo\Desktop\YOSHOPS\TASK 4\word\python_file\python_file'
        shutil.move(files, destination)

In [21]:
for files in os.listdir():
    if files.endswith(".pdf"):
        #print (files)
        destination = r'C:\Users\Lenovo\Desktop\YOSHOPS\TASK 4\word\python_file\pdf'
        shutil.move(files, destination)

In [22]:

for files in os.listdir():
    if files.endswith(".pdf"):
        #print (files)
        destination = r'C:\Users\Lenovo\Desktop\YOSHOPS\TASK 4\word\python_file\pdf'
        shutil.move(files, destination)

In [23]:
import os

In [24]:
data = pd.read_csv(r"C:\Users\LENOVO\Downloads\Task 5(4)\Task 5\movies_data.csv")
data.head()

                  Movie title Released Year  ImDb Rating      Genre
0      Thor: Love and Thunder         -2022          6.4  adventure
1                   Pinocchio    (I) (2022)          5.1  adventure
2  Brahmastra Part One: Shiva         -2022          5.6  adventure
3                    Moonfall         -2022          5.1  adventure
4                       Beast    (I) (2022)          5.6  adventure

In [25]:
# getting duplicates
duplicates = data[data['Movie title'].duplicated()]
duplicates.head()

       Movie title Released Year  ImDb Rating      Genre
19       Pinocchio         -1940          7.5  adventure
76   The Lion King         -2019          6.8  adventure
98            Dune         -1984          6.3  adventure
137      The Mummy         -2017          5.4  adventure
228       Hercules    (I) (2014)          6.0  adventure

In [26]:
# cheacking duplicates
duplicates.sort_values('Movie title', ignore_index=True).head(20)

                        Movie title Released Year  ImDb Rating      Genre
0                       'Gator Bait         -1973          5.4     Action
1           *batteries not included         -1987          6.6     sci_fi
2                    009 Re: Cyborg         -2012          5.8     Action
3   009-1: The End of the Beginning         -2013          4.5     Action
4                                 1         -2009          6.0     sci_fi
5                  10 Endrathukulla         -2015          5.2     Action
6                         10,000 BC         -2008          5.1     Action
7                   10.0 Earthquake         -2014          3.5     sci_fi
8                   10.0 Earthquake         -2014          3.5     Action
9                         100% Wolf         -2020          5.6     comedy
10                   101 Dalmatians         -1996          5.7     comedy
11                   102 Dalmatians         -2000          4.8     comedy
12                           12 + 1         -1969          5.8     comedy
13            12 Rounds 2: Reloaded         -2013          5.3     Action
14                     13 Assassins         -2010          7.5     Action
15                     13 Assassins         -1963          7.4  adventure
16                     13 Assassins         -1963          7.4     Action
17              13 Frightened Girls         -1963          5.2     comedy
18                 13 Rue Madeleine         -1946          6.9     Action
19                             1941         -1979          5.8     Action

In [27]:
# defining a function to find files by keywords [filenames]
def file_finder(filename, search_path):
    result = []
    for root, dir, files in os.walk(search_path):
        if filename in files:
            result.append(os.path.join(root, filename))
    return result

In [28]:
root_dir=r"C:\Users\LENOVO\Downloads\Task 5(4)\Task 5"

In [29]:
for name in os.listdir(root_dir):
    if os.path.isdir(os.path.join(root_dir ,name)):
        for f in os.listdir(os.path.join(root_dir ,name)):
            if os.path.isfile(os.path.join(root_dir ,name, f)) and f.endswith('.jpg'):
                print(f)
                print(os.path.join(root_dir ,name, f))